<!DOCTYPE html>

<html>
    <head>
        <title>ten steps story</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" type="text/css" href="css/style.css" />
        
        <!-- Vendor -->
        <script src="js/vendor/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="js/vendor/underscore.js" type="text/javascript"></script>
        <script src="js/vendor/backbone.js" type="text/javascript"></script>
        <script src="js/vendor/backbone.localStorage.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="js/app/controller.js"></script>
        <script type="text/javascript" src="js/game.js"></script>
 

    </head>
    <body>
        
        <div class="wrapper">
            <div class="inventory"></div>
            <div class="stat"></div>
    		<div id="monitor">
                <div id="story">
                    
                </div>   
            </div>
            <div id="turnsCounter">
                до конца игры осталось
                <div class="inner"></div>
            </div>
            <div id="variants"></div>
        </div>


        <!-- templates -->
        <script type="text/template" class="gui-template" data-name="choise">
            <div class="choise" data-id="<%= id %>" onclick="choose(this);">
               <%= content %>
            </div>
        </script>

        <script type="text/template" class="gui-template" data-name="story">
            <div  class="story-item <%= style %>"> <%= content %> </div>
        </script>
        
        <script type="text/template" class="gui-template" data-name="turnNext">
            <div  class="choise" onclick="Game.turn()"> <%= content %> </div>
        </script>

        <script type="text/template" class="gui-template" data-name="item"> 
            <div class="item">
                <% if (typeof(title ) !== "undefined") { %> 
                    <b><%= title %></b> 
                <% } %> 
                <% if (typeof(content ) !== "undefined") { %> 
                    : <%= content %>
                <% } %>
            </div> 
        </script>

        <!--App-->
        <script type="text/javascript" src="js/app/gui.js"></script>
        
        <!-- Game-->
        <script type="text/javascript" src="js/main.js"></script>

        <script type="text/javascript" src="js/game/player.js"></script>
        <script type="text/javascript" src="js/game/inventory.js"></script>
        <script type="text/javascript" src="js/game/npc.js"></script>
        <script type="text/javascript" src="js/game/scene.js"></script>
        <script type="text/javascript" src="js/game/event.js"></script>
        <script type="text/javascript" src="js/game/action.js"></script>
        <script type="text/javascript" src="js/game/turn.js"></script>
        
        <script type="text/javascript" src="js/story/cat.js"></script>
        <script type="text/javascript" src="js/story/shop.js"></script>
        <!--script type="text/javascript" src="js/story/stone.js"></script>
        <script type="text/javascript" src="js/story/dragon.js"></script>
        <script type="text/javascript" src="js/story/sphinx.js"></script>
        <script type="text/javascript" src="js/story/tavern.js"></script-->
    </body>
</html>